<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;

// for conflicting OS deps
$test->assertEquals(null, $reg->dependencies['required']->os['freebsd'], 'before os conflicts');
$reg->dependencies['required']->os['freebsd'] = false; // doesn't work on FreeBSD
$test->assertEquals(false, $reg->dependencies['required']->os['freebsd'], 'after os conflicts');