<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;

// for required/optional package deps or subpackage deps

$test->assertEquals(false, isset($reg->dependencies['optional']->subpackage), 'before subpackage isset 5');
$test->assertEquals(false, isset($reg->dependencies['optional']->subpackage['channel/subpackageName']), 'before subpackage isset 6');
$test->assertEquals(null, $reg->dependencies['optional']->subpackage['channel/subpackageName']->min, 'before subpackage optional min set');
$test->assertEquals(null, $reg->dependencies['optional']->subpackage['channel/subpackageName']->max, 'before subpackage optional max set');
$test->assertEquals(null, $reg->dependencies['optional']->subpackage['channel/subpackageName']->recommended, 'before subpackage optional recommended set');
$test->assertEquals(null, $reg->dependencies['optional']->subpackage['channel/subpackageName']->exclude, 'before subpackage optional exclude set');
$reg->dependencies['optional']->subpackage['channel/subpackageName']->min('1.1.0')->max('1.2.0')->recommended('1.1.1')
    ->exclude('1.1.0a1')->exclude('1.1.0a2');
$test->assertEquals('1.1.0', $reg->dependencies['optional']->subpackage['channel/subpackageName']->min, 'after subpackage optional min set');
$test->assertEquals('1.2.0', $reg->dependencies['optional']->subpackage['channel/subpackageName']->max, 'after subpackage optional max set');
$test->assertEquals('1.1.1', $reg->dependencies['optional']->subpackage['channel/subpackageName']->recommended, 'after subpackage optional recommended set');
$test->assertEquals(array('1.1.0a1', '1.1.0a2'), $reg->dependencies['optional']->subpackage['channel/subpackageName']->exclude, 'after subpackage optional exclude set');
$test->assertEquals(true, isset($reg->dependencies['optional']->subpackage), 'after subpackage isset 5');
$test->assertEquals(true, isset($reg->dependencies['optional']->subpackage['channel/subpackageName']), 'after subpackage isset 6');