<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;

// for conflicting package dep
$test->assertEquals(false, $reg->dependencies['required']->subpackage['channel/PackageName']->conflicts, 'before conflicts required');
$reg->dependencies['required']->subpackage['channel/PackageName']->conflicts();
$test->assertEquals(true, $reg->dependencies['required']->subpackage['channel/PackageName']->conflicts, 'after conflicts required 1');
$reg->dependencies['required']->subpackage['channel/PackageName']->conflicts(false);
$test->assertEquals(false, $reg->dependencies['required']->subpackage['channel/PackageName']->conflicts, 'after conflicts required 2');