<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;

// for extension deps (required or optional same as packages)
$test->assertEquals(false, isset($reg->dependencies['required']->extension), 'before extension isset');
$test->assertEquals(false, isset($reg->dependencies['required']->extension['extname']), 'before extension isset 2');
$test->assertEquals(null, $reg->dependencies['required']->extension['extname']->min, 'before extension min set');
$test->assertEquals(null, $reg->dependencies['required']->extension['extname']->max, 'before extension max set');
$test->assertEquals(null, $reg->dependencies['required']->extension['extname']->recommended, 'before extension recommended set');
$reg->dependencies['required']->extension['extname']->min('1.0.0')->max('1.2.0')->recommended('1.1.1');
$test->assertEquals('1.0.0', $reg->dependencies['required']->extension['extname']->min, 'after extension min set');
$test->assertEquals('1.2.0', $reg->dependencies['required']->extension['extname']->max, 'after extension max set');
$test->assertEquals('1.1.1', $reg->dependencies['required']->extension['extname']->recommended, 'after extension recommended set');
$test->assertEquals(true, isset($reg->dependencies['required']->extension), 'after extension isset');
$test->assertEquals(true, isset($reg->dependencies['required']->extension['extname']), 'after extension isset 2');