<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;

// for required/optional package deps or subpackage deps
$test->assertEquals(false, isset($reg->dependencies['required']->package), 'before package isset 1');
$test->assertEquals(false, isset($reg->dependencies['required']->package['channel/PackageName']), 'before package isset 2');
$test->assertEquals(null, $reg->dependencies['required']->package['channel/PackageName']->min, 'before package required min set');
$test->assertEquals(null, $reg->dependencies['required']->package['channel/PackageName']->max, 'before package required max set');
$test->assertEquals(null, $reg->dependencies['required']->package['channel/PackageName']->recommended, 'before package required recommended set');
$test->assertEquals(null, $reg->dependencies['required']->package['channel/PackageName']->exclude, 'before package required exclude set');
$reg->dependencies['required']->package['channel/PackageName']->min('1.1.0')->max('1.2.0')->recommended('1.1.1')
    ->exclude('1.1.0a1')->exclude('1.1.0a2');
$test->assertEquals('1.1.0', $reg->dependencies['required']->package['channel/PackageName']->min, 'after package required min set');
$test->assertEquals('1.2.0', $reg->dependencies['required']->package['channel/PackageName']->max, 'after package required max set');
$test->assertEquals('1.1.1', $reg->dependencies['required']->package['channel/PackageName']->recommended, 'after package required recommended set');
$test->assertEquals(array('1.1.0a1', '1.1.0a2'), $reg->dependencies['required']->package['channel/PackageName']->exclude, 'after package required exclude set');
$test->assertEquals(true, isset($reg->dependencies['required']->package), 'after package isset 1');
$test->assertEquals(true, isset($reg->dependencies['required']->package['channel/PackageName']), 'after package isset 2');

foreach ($reg->dependencies['required']->package as $name => $obj) {
    $test->assertEquals('channel/PackageName', $name, 'iteration key test');
}