<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;
// for PHP dep
// defaults to min
$test->assertEquals(false, isset($reg->dependencies['required']->php), 'before php isset');
$test->assertEquals(null, $reg->dependencies['required']->php->min, 'before php set');
$reg->dependencies['required']->php = '5.3.0';
$test->assertEquals('5.3.0', $reg->dependencies['required']->php->min, 'after php set');
$test->assertEquals(true, isset($reg->dependencies['required']->php), 'after php isset');