<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;

// for PEAR Installer dep
// defaults to min
$test->assertEquals(false, isset($reg->dependencies['required']->pearinstaller), 'before pearinstaller isset');
$test->assertEquals(null, $reg->dependencies['required']->pearinstaller->min, 'before pearinstaller set');
$reg->dependencies['required']->pearinstaller = '2.0.0';
$test->assertEquals('2.0.0', $reg->dependencies['required']->pearinstaller->min, 'after pearinstaller set');
$test->assertEquals(true, isset($reg->dependencies['required']->pearinstaller), 'after pearinstaller isset');
