<?php
$test->assertEquals(false, (bool)$reg->exists($info->name, $info->channel), 'package does not exist');
$reg->install($info);
$test->assertEquals(true, (bool)$reg->exists($info->name, $info->channel), 'package was installed');

// info stuff here
$result = $reg->info($info->name, $info->channel, 'installedfiles');
asort($result);

if (substr(PHP_OS, 0, 3) == 'WIN') {
    
} else {
    // $dir must be set to TESTDIR in the test itself
    $test->assertEquals(array (
      $dir . 'docs/pear2.php.net/PEAR2_SimpleChannelServer/examples/update_channel.php' =>
      array(
        'role' => 'doc',
        'name' => 'examples/update_channel.php',
        'installed_as' => $dir . 'docs/pear2.php.net/PEAR2_SimpleChannelServer/examples/update_channel.php',
        'relativepath' => 'pear2.php.net/PEAR2_SimpleChannelServer/examples/update_channel.php',
        'configpath' => $dir . 'docs',
           ),
      $dir . 'bin/pearscs' =>
      array(
        'role' => 'script',
        'name' => 'scripts/pearscs',
        'installed_as' => $dir . 'bin/pearscs',
        'relativepath' => 'pearscs',
        'configpath' => $dir . 'bin',
           ),
      $dir . 'php/PEAR2/SimpleChannelServer.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer.php',
        'relativepath' => 'PEAR2/SimpleChannelServer.php',
        'configpath' => $dir . 'php',

           ),
      $dir . 'php/PEAR2/SimpleChannelServer/CLI.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/CLI.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer/CLI.php',
        'relativepath' => 'PEAR2/SimpleChannelServer/CLI.php',
        'configpath' => $dir . 'php',

           ),
      $dir . 'php/PEAR2/SimpleChannelServer/Categories.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/Categories.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer/Categories.php',
        'relativepath' => 'PEAR2/SimpleChannelServer/Categories.php',
        'configpath' => $dir . 'php',

           ),
      $dir . 'php/PEAR2/SimpleChannelServer/Categories/Exception.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/Categories/Exception.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer/Categories/Exception.php',
        'relativepath' => 'PEAR2/SimpleChannelServer/Categories/Exception.php',
        'configpath' => $dir . 'php',

           ),
      $dir . 'php/PEAR2/SimpleChannelServer/Channel.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/Channel.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer/Channel.php',
        'relativepath' => 'PEAR2/SimpleChannelServer/Channel.php',
        'configpath' => $dir . 'php',

           ),
      $dir . 'php/PEAR2/SimpleChannelServer/Exception.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/Exception.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer/Exception.php',
        'relativepath' => 'PEAR2/SimpleChannelServer/Exception.php',
        'configpath' => $dir . 'php',

           ),
      $dir . 'php/PEAR2/SimpleChannelServer/Get.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/Get.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer/Get.php',
        'relativepath' => 'PEAR2/SimpleChannelServer/Get.php',
        'configpath' => $dir . 'php',

           ),
      $dir . 'php/PEAR2/SimpleChannelServer/REST/Category.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/REST/Category.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer/REST/Category.php',
        'relativepath' => 'PEAR2/SimpleChannelServer/REST/Category.php',
        'configpath' => $dir . 'php',

           ),
      $dir . 'php/PEAR2/SimpleChannelServer/REST/Maintainer.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/REST/Maintainer.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer/REST/Maintainer.php',
        'relativepath' => 'PEAR2/SimpleChannelServer/REST/Maintainer.php',
        'configpath' => $dir . 'php',

           ),
      $dir . 'php/PEAR2/SimpleChannelServer/REST/Manager.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/REST/Manager.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer/REST/Manager.php',
        'relativepath' => 'PEAR2/SimpleChannelServer/REST/Manager.php',
        'configpath' => $dir . 'php',

           ),
      $dir . 'php/PEAR2/SimpleChannelServer/REST/Package.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/REST/Package.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer/REST/Package.php',
        'relativepath' => 'PEAR2/SimpleChannelServer/REST/Package.php',
        'configpath' => $dir . 'php',

           ),
      $dir . 'php/PEAR2/SimpleChannelServer/REST/Release.php' =>
      array(
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/REST/Release.php',
        'baseinstalldir' => 'PEAR2',
        'installed_as' => $dir . 'php/PEAR2/SimpleChannelServer/REST/Release.php',
        'relativepath' => 'PEAR2/SimpleChannelServer/REST/Release.php',
        'configpath' => $dir . 'php',

           ),
    ), $result, 'installedfiles');
}
