<?php
// all registry tests must pass this (as must PackageFile objects)

$greg = $reg->maintainer['cellog'];

$test->assertIsa('PEAR2_Pyrus_PackageFile_v2_Developer', $greg, 'check class');
$test->assertEquals('cellog', $greg->user, 'user');
$test->assertEquals('Gregory Beaver', $greg->name, 'name');
$test->assertEquals('cellog@php.net', $greg->email, 'email');
$test->assertEquals('yes', $greg->active, 'active');
$test->assertEquals('lead', $greg->role, 'role');

$test->assertEquals(true, isset($reg->maintainer['cellog']), 'isset 1');
unset($reg->maintainer['cellog']);
$test->assertEquals(false, isset($reg->maintainer['cellog']), 'isset 2');
unset($reg->maintainer['cellog']);
$test->assertEquals(false, isset($reg->maintainer['cellog']), 'isset 3');

$test->assertEquals(true, isset($reg->maintainer['saltybeagle']), 'isset 4');
unset($reg->maintainer['saltybeagle']);
$test->assertEquals(false, isset($reg->maintainer['saltybeagle']), 'isset 5');

$reg->maintainer['cellog'] = $greg;

$greg2 = $reg->maintainer['cellog'];
$test->assertIsa('PEAR2_Pyrus_PackageFile_v2_Developer', $greg2, 'check class 2');
$test->assertEquals('cellog', $greg2->user, 'user 2');
$test->assertEquals('Gregory Beaver', $greg2->name, 'name 2');
$test->assertEquals('cellog@php.net', $greg2->email, 'email 2');
$test->assertEquals('yes', $greg2->active, 'active 2');
$test->assertEquals('lead', $greg2->role, 'role 2');

$greg2->role('developer');
$test->assertEquals('developer', $greg2->role, 'role after');

$reg->maintainer['cellog'] = $greg2;

$greg3 = $reg->maintainer['cellog'];
$test->assertEquals('cellog', $greg3->user, 'user 3');
$test->assertEquals('Gregory Beaver', $greg3->name, 'name 3');
$test->assertEquals('cellog@php.net', $greg3->email, 'email 3');
$test->assertEquals('yes', $greg3->active, 'active 3');
$test->assertEquals('developer', $greg3->role, 'role 3');
