<?php
// all registry tests must pass this (as must PackageFile objects)

$a = $reg->files['examples/update_channel.php'];
$a['attribs']['md5sum'] = 'should not be there';
$reg->files['examples/update_channel.php'] = $a;

$arr = array();
foreach ($reg->packagingcontents as $name => $file) {
    $arr[] = array('name' => $name, 'file' => $file);
}
usort($arr, function($a,$b) {return strnatcasecmp($a['name'], $b['name']);});
$test->assertEquals(array (
  0 => 
  array (
    'name' => 'doc/pear2.php.net/PEAR2_SimpleChannelServer/examples/examples/update_channel.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'doc',
        'name' => 'examples/update_channel.php',
      ),
    ),
  ),
  1 =>
  array (
    'name' => 'php/PEAR2/SimpleChannelServer.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  2 => 
  array (
    'name' => 'php/PEAR2/SimpleChannelServer/Categories.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/Categories.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  3 => 
  array (
    'name' => 'php/PEAR2/SimpleChannelServer/Categories/Exception.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/Categories/Exception.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  4 => 
  array (
    'name' => 'php/PEAR2/SimpleChannelServer/Channel.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/Channel.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  5 => 
  array (
    'name' => 'php/PEAR2/SimpleChannelServer/CLI.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/CLI.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  6 => 
  array (
    'name' => 'php/PEAR2/SimpleChannelServer/Exception.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/Exception.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  7 => 
  array (
    'name' => 'php/PEAR2/SimpleChannelServer/Get.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/Get.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  8 => 
  array (
    'name' => 'php/PEAR2/SimpleChannelServer/REST/Category.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/REST/Category.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  9 => 
  array (
    'name' => 'php/PEAR2/SimpleChannelServer/REST/Maintainer.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/REST/Maintainer.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  10 => 
  array (
    'name' => 'php/PEAR2/SimpleChannelServer/REST/Manager.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/REST/Manager.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  11 => 
  array (
    'name' => 'php/PEAR2/SimpleChannelServer/REST/Package.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/REST/Package.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  12 => 
  array (
    'name' => 'php/PEAR2/SimpleChannelServer/REST/Release.php',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'php',
        'name' => 'src/SimpleChannelServer/REST/Release.php',
        'baseinstalldir' => 'PEAR2',
      ),
    ),
  ),
  13 => 
  array (
    'name' => 'script/pearscs',
    'file' => 
    array (
      'attribs' => 
      array (
        'role' => 'script',
        'name' => 'scripts/pearscs',
      ),
    ),
  ),
), $arr, 'packaging contents');