<?php
// all registry tests must pass this (as must PackageFile objects)

try {
    $a = $package->compatible['test/test']['oops'];
    throw new Exception('$a = [oops] worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Use -> operator to access compatible package properties',
                        $e->getMessage(), '$a = [oops]');
}

try {
    $a = $package->compatible['test'];
    throw new Exception('[test] worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Cannot access "test", must use "channel/package" to specify a compatible package to access',
                        $e->getMessage(), '[test]');
}

try {
    $package->compatible['test/test']['oops'] = 1;
    throw new Exception('[oops] = 1 worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Use -> operator to access compatible package properties',
                        $e->getMessage(), '[oops] = 1');
}

try {
    $package->compatible['test'] = 1;
    throw new Exception('[test] = 1 worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Can only set $pf->compatible[\'test\'] to PEAR2_Pyrus_PackageFile_v2_Compatible object',
                        $e->getMessage(), '[test] = 1');
}

try {
    $package->compatible['test'] = $package->compatible['test/test'];
    throw new Exception('[test] = test/test worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Cannot set "test", must use "channel/package" to specify a compatible package to set',
                        $e->getMessage(), '[test] = test/test');
}

try {
    $package->compatible['test/test'] = $package->compatible['test/test1'];
    throw new Exception('[test/test] = test/test1 worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Cannot set test/test to test/test1, use $pf->compatible[] to set a new value',
                        $e->getMessage(), '[test/test] = test/test1');
}

try {
    isset($package->compatible['test/test']['oops']);
    throw new Exception('isset([oops]) worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Use -> operator to access compatible package properties',
                        $e->getMessage(), 'isset([oops])');
}

try {
    unset($package->compatible['test/test']['oops']);
    throw new Exception('unset([oops]) worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Use -> operator to access compatible package properties',
                        $e->getMessage(), 'unset([oops])');
}

try {
    $a = $package->compatible->test;
    throw new Exception('->test worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Use [] operator to access compatible packages',
                        $e->getMessage(), '->test');
}

try {
    $package->compatible->test();
    throw new Exception('->test() worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Use [] operator to access compatible packages',
                        $e->getMessage(), '->test()');
}

try {
    $package->compatible['test/test']->foo();
    throw new Exception('->foo() worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Unknown variable foo, should be one of name, channel, min, max, exclude',
                        $e->getMessage(), '->foo()');
}

try {
    $package->compatible['test/test']->name();
    throw new Exception('->name() worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Cannot change compatible package name, use unset() to remove the old compatible package'
,
                        $e->getMessage(), '->name()');
}

try {
    $package->compatible['test/test']->channel();
    throw new Exception('->channel() worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Cannot change compatible package name, use unset() to remove the old compatible package'
,
                        $e->getMessage(), '->channel()');
}

try {
    isset($package->compatible->oops);
    throw new Exception('isset(->oops) worked and should not');
} catch (PEAR2_Pyrus_PackageFile_v2_Compatible_Exception $e) {
    $test->assertEquals('Use [] operator to access compatible packages',
                        $e->getMessage(), 'isset(->oops)');
}
