<?php
// all registry tests must pass this (as must PackageFile objects)

$test->assertEquals(false, isset($reg->compatible['test/test']), 'isset before');
$reg->compatible['test/test']->min('1.2.3')->max('1.4.5')->exclude('1.2.1');
$test->assertEquals(true, isset($reg->compatible['test/test']), 'isset after');
$test->assertEquals('1.2.3', $reg->compatible['test/test']->min, 'min');
$test->assertEquals('1.4.5', $reg->compatible['test/test']->max, 'max');
$test->assertEquals(array('1.2.1'), $reg->compatible['test/test']->exclude, 'exclude');

$reg->compatible['test/test']->exclude('1.2.2');
$test->assertEquals(array('1.2.1', '1.2.2'), $reg->compatible['test/test']->exclude, 'exclude');

$reg->compatible['test/test']->min('1.3.4');
$test->assertEquals('1.3.4', $reg->compatible['test/test']->min, 'min 2');
$reg->compatible['test/test']->min = null;
$test->assertEquals(null, $reg->compatible['test/test']->min, 'min null');

unset($reg->compatible['test/test']);
$test->assertEquals(false, isset($reg->compatible['test/test']), 'unset');
unset($reg->compatible['test/test']);
$test->assertEquals(false, isset($reg->compatible['test/test']), 'unset 2');

foreach ($reg->compatible as $name => $obj) {
    $test->assertEquals('test/test', $name, 'iteration test');
    $test->assertIsa('\Pyrus\PackageFile\v2\Compatible', $obj, 'right class');
}
