<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;

// for regular arch deps
$fake = new \pear2\Pyrus\PackageFile\v2;
$extension = $fake->dependencies['required']->extension;
$extension['Extension1']->save();
$extension['Extension2']->min('1.0.0');

$test->assertEquals(false, isset($reg->dependencies['required']->extension['Extension1']), 'Extension1 required before');
$test->assertEquals(false, isset($reg->dependencies['optional']->extension['Extension1']), 'Extension1 optional before');
$test->assertEquals(false, isset($reg->dependencies['group']->groupname->extension['Extension1']), 'Extension1 group before');

$test->assertEquals(null, $reg->dependencies['required']->extension['Extension2']->min, 'Extension2 required before');
$test->assertEquals(null, $reg->dependencies['optional']->extension['Extension2']->min, 'Extension2 optional before');
$test->assertEquals(null, $reg->dependencies['group']->groupname->extension['Extension2']->min, 'Extension2 group before');

$test->assertEquals(false, $reg->dependencies['required']->extension['Extension3']->conflicts, 'Extension3 required before');
$test->assertEquals(null, $reg->dependencies['optional']->extension['Extension3']->max, 'Extension3 optional before');
$test->assertEquals(null, $reg->dependencies['group']->groupname->extension['Extension3']->max, 'Extension3 group before');

$reg->dependencies['required']->extension['Extension1'] = $extension['Extension1'];
$reg->dependencies['required']->extension[] = $extension['Extension2'];
$reg->dependencies['optional']->extension['Extension1'] = $extension['Extension1'];
$reg->dependencies['optional']->extension[] = $extension['Extension2'];
$reg->dependencies['group']->groupname->extension['Extension1'] = $extension['Extension1'];
$reg->dependencies['group']->groupname->extension[] = $extension['Extension2'];

$test->assertEquals(true, isset($reg->dependencies['required']->extension['Extension1']), 'Extension1 required after');
$test->assertEquals(true, isset($reg->dependencies['optional']->extension['Extension1']), 'Extension1 optional after');
$test->assertEquals(true, isset($reg->dependencies['group']->groupname->extension['Extension1']), 'Extension1 group after');

$test->assertEquals('1.0.0', $reg->dependencies['required']->extension['Extension2']->min, 'Extension2 required after');
$test->assertEquals('1.0.0', $reg->dependencies['optional']->extension['Extension2']->min, 'Extension2 optional after');
$test->assertEquals('1.0.0', $reg->dependencies['group']->groupname->extension['Extension2']->min, 'Extension2 group after');