<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;

// for regular arch deps
$fake = new \pear2\Pyrus\PackageFile\v2;
$arch = $fake->dependencies['required']->arch;
$arch['i386'] = true;
$arch['ppc'] = false;
$arch['*ix'] = true;

$test->assertEquals(null, $reg->dependencies['required']->arch['i386'], 'i386 before');
$test->assertEquals(null, $reg->dependencies['required']->arch['ppc'], 'ppc before');
$test->assertEquals(null, $reg->dependencies['required']->arch['*ix'], '*ix before');

$reg->dependencies['required']->arch = $arch;

$test->assertEquals(true, $reg->dependencies['required']->arch['i386'], 'i386 after');
$test->assertEquals(false, $reg->dependencies['required']->arch['ppc'], 'ppc after');
$test->assertEquals(true, $reg->dependencies['required']->arch['*ix'], '*ix after');

unset($reg->dependencies['required']->arch['i386']);
unset($reg->dependencies['required']->arch['foo']); // show it works

$test->assertEquals(null, $reg->dependencies['required']->arch['i386'], 'i386 after unset');
$test->assertEquals(null, $reg->dependencies['required']->arch['foo'], 'foo after unset');
