<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;

// for conflicting arch deps
$test->assertEquals(null, $reg->dependencies['required']->arch['*(ix|ux)'], 'before arch conflict');
$reg->dependencies['required']->arch['*(ix|ux)'] = false; // doesn't work on unix/linux
$test->assertEquals(false, $reg->dependencies['required']->arch['*(ix|ux)'], 'after arch conflict');
