<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;

// for regular arch deps
$fake = new \Pyrus\PackageFile\v2;
$required = $fake->dependencies['required'];
$required->os['windows'] = false;

$test->assertEquals(null, $reg->dependencies['required']->os['windows'], 'windows before');

$reg->dependencies['required'] = $required;

$test->assertEquals(false, $reg->dependencies['required']->os['windows'], 'windows after');
