<?php
// all registry tests must pass this (as must PackageFile objects)

// reset deps
$reg->dependencies = null;
// for PHP dep

$reg->dependencies['required']->php->exclude('6.1.2')->exclude('6.1.3');
$test->assertEquals(array('6.1.2', '6.1.3'), $reg->dependencies['required']->php->exclude, 'after reset exclude');
$reg->dependencies['required']->php->exclude(null);
$test->assertEquals(null, $reg->dependencies['required']->php->exclude, 'after exclude reset');