<?php
// all registry tests must pass this (as must PackageFile objects)

$reg->type = 'extsrc';

$fake = new \Pyrus\PackageFile\v2;

$fake->type = 'extsrc';

$reg->release[0]->configureoption['foo'] = $fake->release[0]->configureoption['foo']->prompt('hi there')->default('bar');

$test->assertEquals('hi there', $reg->release[0]->configureoption['foo']->prompt, 'prompt');
$test->assertEquals('bar', $reg->release[0]->configureoption['foo']->default, 'default');
$test->assertEquals(1, count($reg->release[0]->configureoption), 'count 1');

$reg->release[0]->configureoption['foo'] = $fake->release[0]->configureoption['foo']->prompt('hi there')->default('bar');

$test->assertEquals('hi there', $reg->release[0]->configureoption['foo']->prompt, 'prompt 2');
$test->assertEquals('bar', $reg->release[0]->configureoption['foo']->default, 'default ');
$test->assertEquals(1, count($reg->release[0]->configureoption), 'count 1.1');
