<?php
// all registry tests must pass this (as must PackageFile objects)

$reg->license = 'PHP';
$test->assertEquals('PHP', $reg->license['name'], 'php 1');
$test->assertEquals('http://www.php.net/license', $reg->license['uri'], 'php 1 uri');


$reg->license = 'PHP License';
$test->assertEquals('PHP License', $reg->license['name'], 'php 2');
$test->assertEquals('http://www.php.net/license', $reg->license['uri'], 'php 2 uri');

$reg->license = 'LGPL';
$test->assertEquals('LGPL', $reg->license['name'], 'lgpl');
$test->assertEquals('http://www.gnu.org/copyleft/lesser.html', $reg->license['uri'], 'lgpl uri');

$reg->license = 'BSD';
$test->assertEquals('BSD', $reg->license['name'], 'bsd');
$test->assertEquals('http://www.opensource.org/licenses/bsd-license.php', $reg->license['uri'], 'bsd uri');

$reg->license = 'BSD style';
$test->assertEquals('BSD style', $reg->license['name'], 'bsd 2');
$test->assertEquals('http://www.opensource.org/licenses/bsd-license.php', $reg->license['uri'], 'bsd 2 uri');

$reg->license = 'BSD-style';
$test->assertEquals('BSD-style', $reg->license['name'], 'bsd 3');
$test->assertEquals('http://www.opensource.org/licenses/bsd-license.php', $reg->license['uri'], 'bsd 3 uri');

$reg->license = 'MIT';
$test->assertEquals('MIT', $reg->license['name'], 'mit');
$test->assertEquals('http://www.opensource.org/licenses/mit-license.php', $reg->license['uri'], 'mit uri');

$reg->license = 'GPL';
$test->assertEquals('GPL', $reg->license['name'], 'gpl');
$test->assertEquals('http://www.gnu.org/copyleft/gpl.html', $reg->license['uri'], 'gpl uri');

$reg->license = 'Apache';
$test->assertEquals('Apache', $reg->license['name'], 'apache');
$test->assertEquals('http://www.opensource.org/licenses/apache2.0.php', $reg->license['uri'], 'apache uri');

$reg->license = 'bogus';
$test->assertEquals('bogus', $reg->license['name'], 'bogus');
$test->assertEquals(null, $reg->license['uri'], 'bogus uri');

$fake = new PEAR2_Pyrus_PackageFile_v2;
$fake->license['name'] = 'booboo';
$fake->license['uri'] = 'http://localhost';

$reg->license = $fake->license;
$test->assertEquals('booboo', $reg->license['name'], 'booboo');
$test->assertEquals('http://localhost', $reg->license['uri'], 'booboo uri');