<?php
// all registry tests must pass this (as must PackageFile objects)

$fake = new PEAR2_Pyrus_PackageFile_v2;
$task = $fake->usesrole['boo']->channel('pear2.php.net')->package('Boo');

$test->assertEquals(false, isset($reg->usesrole['boo']), 'isset before');
$test->assertEquals(0, count($reg->usesrole), 'count before');

$reg->usesrole['boo'] = $task;

$test->assertEquals(true, isset($reg->usesrole['boo']), 'isset after');
$test->assertEquals(1, count($reg->usesrole), 'count after');
$test->assertEquals('pear2.php.net', $reg->usesrole['boo']->channel, 'channel');
$test->assertEquals('Boo', $reg->usesrole['boo']->package, 'package');
$test->assertEquals(null, $reg->usesrole['boo']->uri, 'uri');

$task->uri('http://localhost/Boo.phar');

$reg->usesrole['boo'] = $task;

$test->assertEquals(true, isset($reg->usesrole['boo']), 'isset after 2');
$test->assertEquals(1, count($reg->usesrole), 'count after 2');
$test->assertEquals(null, $reg->usesrole['boo']->channel, 'channel 2');
$test->assertEquals(null, $reg->usesrole['boo']->package, 'package 2');
$test->assertEquals('http://localhost/Boo.phar', $reg->usesrole['boo']->uri, 'uri 2');
