<?php
$test->assertEquals('pear.php.net', $channel->name,           'Channel name');
$test->assertEquals(80,             $channel->port,           'Channel port');
$test->assertEquals(false,          $channel->ssl,            'Channel SSL');
$test->assertEquals('pear',         $channel->alias,          'Channel alias');
$test->assertEquals('PHP Extension and Application Repository',
                                    $channel->summary,        'Channel summary');
$test->assertEquals('http://pear.php.net/rest1.0/',
                                    $channel->protocols->rest['REST1.0']->baseURL,
                                                              'Get rest 1.0');
$test->assertEquals('http://pear.php.net/rest1.3/',
                                    $channel->protocols->rest['REST1.3']->baseURL,
                                                              'Get rest 1.3');

$test->assertTrue(isset($channel->mirror['us.pear.php.net']), 'Mirrors are set');
