<?php
$test->assertEquals(array(), $reg->listPackages($info->channel), 'before');
$reg->install($info);
$info = new \Pyrus\PackageFile\v2;
$info->name = 'HooHa';
$info->channel = 'pear2.php.net';
$info->files['one'] = array('role' => 'php');
$reg->install($info);
$info = new \Pyrus\PackageFile\v2;
$info->name = 'HooHa2';
$info->channel = 'pear2.php.net';
$info->files['two'] = array('role' => 'php');
$reg->install($info);
$packages = $reg->listPackages($info->channel);
sort($packages);
$test->assertEquals(array('HooHa', 'HooHa2', 'PEAR2_SimpleChannelServer'), $packages, 'after');
?>